.Footer {
  width: 100vw;
  max-height: 6rem;
  background-color: #242951e9;
  color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;

  padding-top: 1rem;
  padding-bottom: 1rem;
  & a {
    text-decoration: none;
    color: white;
    &:active {
      color: white;
    }
    &:hover {
      color: rgb(189, 196, 255);
    }
  }
  &__icon-container {
    display: flex;
    width: 60vw;
    min-width: 400px;
    align-items: center;
    justify-content: space-evenly;
  }
}
