.Form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  min-height: 100vh;
  flex-direction: column;
  & form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80vw;
    height: fit-content;
    max-width: 600px;
    flex-direction: column;
    padding: 1rem;
  }
  &-title {
    margin-top: 10rem;

    color: #790220;
    background: linear-gradient(
      180deg,
      transparent 80%,
      #6067a1b6 80%,
      #6067a1b6 95%,
      transparent 95%
    );
  }
  &-input {
    margin-top: 1.5rem !important;
    margin-bottom: 1.5rem !important;
  }
  &-submit {
    margin-top: 3rem;
    margin-bottom: 1rem;
    padding: 0.5rem;
    border-radius: 20px;
    border: 1px solid black;
    background-color: #790220;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all ease 0.25s;
    color: whitesmoke;
    font-size: 1.5rem;
    letter-spacing: 5px;
    width: 15rem;
    &:hover {
      color: #790220;
      border-color: #790220;
      background-color: white;
      cursor: pointer;
    }
  }
  &-submit-icon {
    margin-left: 0.5rem;
  }
}

.form-image {
  max-height: 90px;
  overflow: hidden;
  & img {
    width: 90px;
    height: 90px;
  }
  &-wrapper {
    max-width: 40vw;
    overflow: scroll;
    display: flex;
  }
  &-array {
    min-height: 75px;
    width: fit-content;
    display: flex;
    gap: 1rem;
    align-items: center;
  }
  &-submit {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
    padding-left: 1rem;
    color: #242951;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  }
  &-button {
    border: 1px solid #242951;
    border-radius: 5px;
    background-color: #253fff08;
    padding: 1rem;
    font-size: 2.5rem;
    transition: color ease 0.35s;
    &:hover {
      color: #790220;
      border-color: #790220;
      background-color: #ff252508;

      cursor: pointer;
    }
  }
}
