.Navbar {
  background-color: #1010106e;
  display: flex;
  position: relative;
  min-height: 4rem;
  justify-content: center;
  align-items: center;
  &__logo {
    display: flex;
    align-items: center;
    justify-content: center;

    padding-top: 5px;
    & img {
      width: 100%;
      &:hover {
        cursor: pointer;
      }
    }
  }
  &__login {
    background-color: #666666;
    color: white;
    border: 1px solid #2b2e4a;
    position: absolute;
    border-radius: 10px;
    font-size: 0.4rem;
    margin-left: 70vw;
    padding-left: 13px;
    padding-right: 13px;
    letter-spacing: 1.2px;
    transition: all ease 0.25s;
    &:hover {
      cursor: pointer;
      color: #520606;
      border-color: #520606;
      background-color: #fcddc6;
    }
  }
  &__acc {
    position: absolute;
    margin-left: 70vw;
    font-size: 2rem;
    color: #464343;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
      cursor: pointer;
      color: #790220;
    }
  }
}
