<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Hey, <%= @user.full_name %></h3>
    <p>
      Order #
<%= @order.id %> 
Has been Updated
    </p>
    <p>Log in at watches4cash.com to check your order status!</p>
  </body>
</html>