<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Seems like you forgot you password</h3>
    <p>
      Use this link ____ to reset your password.
    </p>
  </body>
</html>